{% set current_path = app.request.get('_route') %}
<nav class="navbar navbar-light navbar-expand bg-transparent sticky-bottom" id="NavBottom">
    <ul class="navbar-nav navbar-bottom ml-auto">
        <li class="nav-item{% if current_path=='impressum' %} active{% endif %}">
            <a
                    class="nav-link"
                    href="{{ url('impressum') }}"
                    title="{% trans %}menu.title.imprint{% endtrans %}">
                {% trans %}menu.label.imprint{% endtrans %}
                {% if current_path=='impressum' %} <span class="sr-only">(current)</span>{% endif %}
            </a>
        </li>
        <li class="nav-item{% if current_path=='data_policy' %} active{% endif %}">
            <a
                    class="nav-link" href="{{ url('data_policy') }}"
                    title="{% trans %}menu.title.data_policy{% endtrans %}">
                {% trans %}menu.label.data_policy{% endtrans %}
                {% if current_path=='data_policy' %} <span class="sr-only">(current)</span>{% endif %}
            </a>
        </li>
    </ul>
</nav>
