{% set current_path = app.request.get('_route') %}
<nav class="navbar navbar-expand-md navbar-light bg-transparent">
    <a class="navbar-brand" href="{{ url('home') }}">
        <div class="icon-brand-wrapper">
            <img src="/images/logo.svg">
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#mobileNavigationModel">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
            <li class="nav-item{% if current_path=='contract' %} active{% endif %}">
                <a
                        class="nav-link text-center"
                        href="{{ url('contract') }}"
                        title="{% trans %}menu.title.sign{% endtrans %}">
                    {% trans %}menu.label.sign{% endtrans %}
                    {% if current_path=='contract' %} <span class="sr-only">(current)</span>{% endif %}
                </a>
            </li>
            <li class="nav-item{% if current_path=='info' %} active{% endif %}">
                <a
                        class="nav-link text-center"
                        href="{{ url('info') }}"
                        title="{% trans %}menu.title.more{% endtrans %}">
                    {% trans %}menu.label.more{% endtrans %}{% if current_path=='info' %} <span class="sr-only">(current)</span>{% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a data-toggle="modal" data-target="#downloadModal" class="nav-link text-center">
                    {% trans %}menu.label.pdf_downloaden{% endtrans %}
                </a>
            </li>
            <!--
            <li class="nav-item">
                <a
                        class="nav-link text-center"
                        href="#share"
                        title="{% trans %}menu.title.share{% endtrans %}">
                    {% trans %}menu.label.share{% endtrans %}
                </a>
            </li>
            -->
        </ul>
    </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <nav class="navbar navbar-light">
                <a class="navbar-brand" href="{{ url('home') }}">
                    <div class="icon-brand-wrapper">
                        <img src="/images/logo.svg">
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-dismiss="modal">
                    <span class="navbar-toggler-icon-close"></span>
                </button>
            </nav>
            <div class="modal-body">
                {{ 'download.modal.text'|trans|raw }}
                <form method="get" action="{{ path('download', {'file': 'freundeklimapakt.pdf'}) }}" title="{% trans %}menu.title.contract_pdf_downloaden{% endtrans %}">
                    <button class="btn btn-md border-0 btn btn-download" type="submit"></button>
                </form>
                <hr />
                {{ 'download_facts.modal.text'|trans|raw }}
                <form method="get" action="{{ path('download', {'file': 'FactSheet.pdf'}) }}" title="{% trans %}menu.title.facts_pdf_downloaden{% endtrans %}">
                    <button class="btn btn-md border-0 btn btn-download" type="submit"></button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mobileNavigationModel" tabindex="-1" role="dialog" aria-labelledby="Main Navigation" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{{ url('home') }}">
                    <div class="icon-brand-wrapper">
                        <img src="/images/logo.svg">
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-dismiss="modal">
                    <span class="navbar-toggler-icon-close"></span>
                </button>
            </nav>
            <div class="modal-body">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item{% if current_path=='contract' %} active{% endif %}">
                        <a
                                class="nav-link text-center"
                                href="{{ url('contract') }}"
                                title="{% trans %}menu.title.sign{% endtrans %}">
                            {% trans %}menu.label.sign{% endtrans %}
                            {% if current_path=='contract' %} <span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                    <li class="nav-item{% if current_path=='info' %} active{% endif %}">
                        <a
                                class="nav-link text-center"
                                href="{{ url('info') }}"
                                title="{% trans %}menu.title.more{% endtrans %}">
                            {% trans %}menu.label.more{% endtrans %}{% if current_path=='info' %} <span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="modal" data-target="#downloadModal" class="nav-link text-center" data-dismiss="modal">
                            {% trans %}menu.label.pdf_downloaden{% endtrans %}
                        </a>
                    </li>
                    <!--
                <li class="nav-item">
                    <a
                            class="nav-link text-center"
                            href="#share"
                            title="{% trans %}menu.title.share{% endtrans %}">
                        {% trans %}menu.label.share{% endtrans %}
                    </a>
                </li>
                -->
                </ul>
            </div>
        </div>
    </div>
</div>
