@import "../variables";

:root {
  font-family: Clavo Sans, Clavo, Clavo sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
}

iframe {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1920px;
}

.border-0 {
  border: 0 solid #000000;
}

.border-5 {
  border: 5px solid #000000;
}

.border-4 {
  border: 4px solid #000000;
}

.mw-600 {
  max-width: 600px;
}

.mw-900 {
  max-width: 900px;
}

.sticky-bottom {
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.font-family-sans-serif {
  font-family: $font-family-sans-serif;
}

.big {
  font-size: 120%;
}

.pointer {
  cursor: pointer;
}

#btn_ttt {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 10px;
  z-index: 99;
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.modal {
  .modal-content {
    border: 4px solid black;
    padding: 3rem;
  }
  .btn-download {
    position: relative;
    width: 100%;
    height: 8.6875rem;

    &::after {
      position: relative;
      content: url(../../img/button-md-download.svg);
      margin: 1.6875rem auto;
    }
  }

  .btn-close {
    position: relative;
    width: 100%;
    height: 8.6875rem;

    &::after {
      position: relative;
      content: url(../../img/close.svg);
      margin: 1.6875rem auto;
    }
  }
}

@include media-breakpoint-only(xl) {
  .container {
    max-width: calc(100vw - 200px);
  }
}

@include media-breakpoint-only(lg) {
  .container {
    max-width: calc(100vw - 100px);
  }
}

@include media-breakpoint-only(md) {
  .container {
    max-width: 100%;
  }
}
@include media-breakpoint-down(md) {
  .container {
    max-width: 100%;
  }
  .modal {
    .btn-download {
      &::after {
        content: url(../../img/button-sm-download.svg);
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .container {
    max-width: 100%;
  }
  .modal {
    .modal-content {
      border: none;
      padding: 1rem;

      p {
        text-align: center
      }
    }

    .btn-download {
      &::after {
        content: url(../../img/button-sm-download.svg);
      }
    }
  }
}
