@import "../variables";
@import "typography";

nav.navbar {
  margin: 0 1.25rem 0 1rem;
  height: 10rem;
  position: relative;
  padding: 0;

  .navbar-brand {
    width: 319px;
    height: 160px;
    margin-top: 1.125rem;
    .icon-brand-wrapper {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .navbar-nav {
    position: absolute;
    top: 1.275rem;
    right: 0;

    .nav-item {
      margin-left: 3.5rem;
      a.nav-link {
        padding: 0;
        font: $navigation-font;
        vertical-align: top;
      }
    }
  }
}

.navbar-toggler {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  margin-top: 1.125rem;
  padding: 0.15rem 0.65rem;
  .navbar-toggler-icon, .navbar-toggler-icon-close {
    width: 70px;
    height: 38px;
  }
  .navbar-toggler-icon-close {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    background: url("/images/close.svg") no-repeat center center;
  }
}

footer {
  bottom: 0;
  left: 0;
  nav.navbar {
    .navbar-nav {
      .nav-item {
        a.nav-link {
          padding: 0;
          font: $navigation-font;
          vertical-align: top;
        }
      }
    }
  }
}

@include media-breakpoint-only(lg) {
  nav.navbar {
    margin: 0;
    .navbar-nav {
      .nav-item {
        margin-left: 2.5rem;
      }
    }
  }
  footer {
    nav.navbar {
      .navbar-nav {
        .nav-item {
          a.nav-link {
            padding: 0;
            font: $navigation-font;
            vertical-align: top;
          }
        }
      }
    }
  }
}
@include media-breakpoint-only(md) {
  nav.navbar {
    margin: 0;
    .navbar-nav {
      .nav-item {
        margin-left: 1.125rem;
      }
    }
  }
  footer {
    nav.navbar {
      .navbar-nav {
        .nav-item {
          a.nav-link {
            padding: 0;
            font: $navigation-font;
            vertical-align: top;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  nav.navbar {
    margin: 0;

    .navbar-brand {
      margin: 22px 0 0 0.65rem;
      width: 200px;
      height: 140px;
      cursor: pointer;
      padding: 0;
    }

    .navbar-toggler {
      .navbar-toggler-icon, .navbar-toggler-icon-close {
        margin-right: 10px;
      }
    }
    .navbar-nav {
      .nav-item {
        margin-top: 3.6125rem;
        .nav-link {
          font: $navigation-font;
        }
      }

    }
  }
  .modal {
    width: 100% !important;
    top: -20px;
    right: 0;
    height: 110% !important;
    .modal-dialog {
      width: 100% !important;
      box-shadow: none;
      max-width: none;
      height: 110% !important;
      margin: auto auto;
      .modal-content {
        width: 100% !important;
        border: none;
        border-radius: 0;
        box-shadow: none;
        height: 100%  !important;
      }
    }
  }
  footer {
    nav.navbar {
      .navbar-nav {
        .nav-item {
          a.nav-link {
            padding: 0;
            font: $small-text-font;
            vertical-align: top;
          }
        }
      }
    }
  }
}
