@import "../variables";

body {
  font-family: clavo, serif;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 2rem !important;
}

h1, h2, h3, h4, h5, h6, p, li, label {
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  text-align: left;
}

h1 { font: $first-headline-font; margin: $first-headline-margin; }
h2 { font: $second-headline-font; margin: $second-headline-margin; }
h3, h4, h5, h6 { font: $other-headline-font; margin: $other-headline-margin; }

$spacer: 1rem;
$spacers: (
        6: ($spacer * 4.5),
        7: ($spacer * 6),
        8: ($spacer * 7.5),
        9: ($spacer * 9),
        10: ($spacer * 10.5),
        11: ($spacer * 12),
        13: ($spacer * 13.5),
        14: ($spacer * 15)
);

.is-green {
  color: $fff_green !important;
}

p, a, li, label { font: $general-text-font; }
li strong a {
  font-weight: bolder;
}
.subtext, .subheadline { font: $sub-text-font; }
small, .font-smaller { font: $small-text-font; }

a {
  color: $black !important;
}
a:hover {
  color: $link-hover-color !important;
}
.information-highlight { font: $big-quotes-font; }
a.headline { font: $first-headline-font; }
a.main-headline { font: $main-headline-home-font; }
a.subtext { font: $sub-text-font; }
a.facts-link {
  color: $black;
  font: $general-text-font;
  font-weight: bold;
}

@include media-breakpoint-only(lg) {
  $main-headline-home-font: Bold 1.875rem/2.25rem Clavo;
  $first-headline-font: Bold 2.125rem/2.313rem Clavo;
  $first-headline-margin: (2.125rem / 2.313) 0 (1.125rem / 2.5) 0;
  $second-headline-font: Bold 2.125rem/2.313rem Clavo;
  $second-headline-margin: (2.125rem / 1.5) 0 (2.125rem / 2.5) 0;
  $other-headline-font: Bold 2.125rem/2.313rem Clavo;
  $other-headline-margin: (2.125rem / 1.5) 0 (2.125rem / 2.5) 0;
  $general-text-font: 1rem/1.125rem Clavo;
  $small-text-font: 0.84rem/1rem Clavo;
  $sub-text-font: 1rem/1.125rem Clavo;
  $big-quotes-font: Bold 1.56rem/2.313rem Clavo;
  $navigation-font: 1rem/1.25rem Clavo;

  h1 { font: $first-headline-font; margin: $first-headline-margin; }
  h2 { font: $second-headline-font; margin: $second-headline-margin; }
  h3, h4, h5, h6 { font: $other-headline-font; margin: $other-headline-margin; }

  p, a, li, label { font: $general-text-font; }
  li strong a {
    font-weight: bolder;
  }
  .subtext, .subheadline { font: $sub-text-font; }
  small, .font-smaller { font: $small-text-font; }

  a {
    color: $black !important;
  }
  a:hover {
    color: $link-hover-color !important;
  }
  .information-highlight { font: $big-quotes-font; }
  a.headline { font: $first-headline-font; }
  a.main-headline { font: $main-headline-home-font; }
  a.subtext { font: $sub-text-font; }
  a.facts-link {
    color: $black;
    font: $general-text-font;
    font-weight: bold;
  }
}

@include media-breakpoint-only(md) {
  $main-headline-home-font: Bold 1.875rem/2.25rem Clavo;
  $first-headline-font: Bold 2.125rem/2.313rem Clavo;
  $first-headline-margin: (2.125rem / 2.313) 0 (1.125rem / 2.5) 0;
  $second-headline-font: Bold 2.125rem/2.313rem Clavo;
  $second-headline-margin: (2.125rem / 1.5) 0 (2.125rem / 2.5) 0;
  $other-headline-font: Bold 2.125rem/2.313rem Clavo;
  $other-headline-margin: (2.125rem / 1.5) 0 (2.125rem / 2.5) 0;
  $general-text-font: 1rem/1.125rem Clavo;
  $small-text-font: 0.84rem/1rem Clavo;
  $sub-text-font: 0.84rem/1rem Clavo;
  $big-quotes-font: Bold 1.56rem/2.313rem Clavo;
  $navigation-font: 1.69rem/1.938rem Clavo;

  h1 { font: $first-headline-font; margin: $first-headline-margin; }
  h2 { font: $second-headline-font; margin: $second-headline-margin; }
  h3, h4, h5, h6 { font: $other-headline-font; margin: $other-headline-margin; }


  p, a, li, label { font: $general-text-font; }
  li strong a {
    font-weight: bolder;
  }
  .subtext, .subheadline { font: $sub-text-font; }
  small, .font-smaller { font: $small-text-font; }

  a {
    color: $black !important;
  }
  a:hover {
    color: $link-hover-color !important;
  }
  .information-highlight { font: $big-quotes-font; }
  a.headline { font: $first-headline-font; }
  a.main-headline { font: $main-headline-home-font; }
  a.subtext { font: $sub-text-font; }
  a.facts-link {
    color: $black;
    font: $general-text-font;
    font-weight: bold;
  }

}

@include media-breakpoint-only(sm) {
  $main-headline-home-font: Bold 1.125rem/1.25rem Clavo;
  $first-headline-font: Bold 1.125rem/1.313rem Clavo;
  $first-headline-margin: (1.125rem / 1.313) 0 (1.125rem / 2.5) 0;
  $second-headline-font: Bold 1.125rem/1.313rem Clavo;
  $second-headline-margin: (1.125rem / 1.5) 0 (1.125rem / 2.5) 0;
  $other-headline-font: Bold 1.125rem/1.313rem Clavo;
  $other-headline-margin: (1.125rem / 1.5) 0 (1.125rem / 2.5) 0;
  $general-text-font: 1rem/1.125rem Clavo;
  $small-text-font: 0.56rem/1rem Clavo;
  $sub-text-font: 0.84rem/1rem Clavo;
  $big-quotes-font: Bold 1.125rem/1.313rem Clavo;
  $navigation-font: 1.69rem/1.938rem Clavo;

  h1 { font: $first-headline-font; margin: $first-headline-margin; }
  h2 { font: $second-headline-font; margin: $second-headline-margin; }
  h3, h4, h5, h6 { font: $other-headline-font; margin: $other-headline-margin; }
  p, a, li, label { font: $general-text-font; }
  li strong a {
    font-weight: bolder;
  }
  .subtext, .subheadline { font: $sub-text-font; }
  small, .font-smaller { font: $small-text-font; }

  a {
    color: $black !important;
  }
  a:hover {
    color: $link-hover-color !important;
  }
  .information-highlight { font: $big-quotes-font; }
  a.headline { font: $first-headline-font; }
  a.main-headline { font: $main-headline-home-font; }
  a.subtext { font: $sub-text-font; }

  li.nav-item a {
    margin-top: 3.625rem;
  }
  a.facts-link {
    color: $black;
    font: $general-text-font;
    font-weight: bold;
  }
}

@include media-breakpoint-only(xs) {
  $main-headline-home-font: Bold 1.125rem/1.25rem Clavo;
  $first-headline-font: Bold 1.125rem/1.313rem Clavo;
  $first-headline-margin: (1.125rem / 1.313) 0 (1.125rem / 2.5) 0;
  $second-headline-font: Bold 1.125rem/1.313rem Clavo;
  $second-headline-margin: (1.125rem / 1.5) 0 (1.125rem / 2.5) 0;
  $other-headline-font: Bold 1.125rem/1.313rem Clavo;
  $other-headline-margin: (1.125rem / 1.5) 0 (1.125rem / 2.5) 0;
  $general-text-font: 1.0rem/1rem Clavo;
  $small-text-font: 0.56rem/1rem Clavo;
  $sub-text-font: 0.84rem/1rem Clavo;
  $big-quotes-font: Bold 1.125rem/1.313rem Clavo;
  $navigation-font: 1.69rem/1.938rem Clavo;

  h1 { font: $first-headline-font; margin: $first-headline-margin; }
  h2 { font: $second-headline-font; margin: $second-headline-margin; }
  h3, h4, h5, h6 { font: $other-headline-font; margin: $other-headline-margin; }

  p, a, li, label { font: $general-text-font; }
  li strong a {
    font-weight: bolder;
  }
  .subtext, .subheadline { font: $sub-text-font; }
  small, .font-smaller { font: $small-text-font; }

  a {
    color: $black !important;
  }
  a:hover {
    color: $link-hover-color !important;
  }
  .information-highlight { font: $big-quotes-font; }
  a.headline { font: $first-headline-font; }
  a.main-headline { font: $main-headline-home-font; }
  a.subtext { font: $sub-text-font; }

  li.nav-item a {
    margin-top: 3.625rem;
  }
  a.facts-link {
    color: $black;
    font: $general-text-font;
    font-weight: bold;
  }
}
