{% extends 'base.html.twig' %}

{% block body %}
    {% set m = 3 %}
    {% set breakpoint = 'sm' %}
    {% set cols = '9' %}
    <div class="container subpage">
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col">
                <a href="{{ url('info') }}" title="{% trans %}information.link.title.back_to_index{% endtrans %}" class="is-green">
                    <div class="arrow-wrapper"><div class="arrow-left"></div></div>
                    {% trans %}information.link.label.back_to_index{% endtrans %}
                </a>
                {% trans %}information.communication.intro{% endtrans %}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col"></div>
            <div class="col-{{ breakpoint }}-{{ cols }} text-{{ breakpoint }}-right information-highlight">
                {% trans %}information.text_block.communication.0{% endtrans %}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="divider-wrapper d-none d-{{ breakpoint }}-block">
                <img class="divider-left" src="/images/stroke_scroll.svg" alt="">
            </div>
            <div class="mobile-divider-wrapper d-{{ breakpoint }}-none">
                <img class="mobile-divider-down" src="/images/arrow_down.svg" alt="">
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col-{{ breakpoint }}-{{ cols }}">
                {% trans %}information.text_block.communication.1{% endtrans %}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="divider-wrapper d-none d-{{ breakpoint }}-block">
                <img class="divider-right" src="/images/stroke_right.svg" alt="">
            </div>
            <div class="mobile-divider-wrapper d-{{ breakpoint }}-none">
                <img class="mobile-divider-down" src="/images/arrow_down.svg" alt="">
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col"></div>
            <div class="col-{{ breakpoint }}-{{ cols }}">
                {% trans %}information.text_block.communication.2{% endtrans %}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col-{{ breakpoint }}-{{ cols }}">
                {% trans %}information.text_block.communication.3{% endtrans %}
            </div>
        </div>
    </div>
{% endblock %}
