{% extends 'base.html.twig' %}

{% block body %}
    {% set m = 5 %}
    {% set breakpoint = 'sm' %}
    {% set cols = '9' %}
    <div class="container subpage">
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col">
                <a href="{{ url('info') }}" title="{{ 'information.link.title.back_to_index'|trans }}" class="is-green">
                    <div class="arrow-wrapper"><div class="arrow-left"></div></div>
                    {{ 'information.link.label.back_to_index' |trans |raw }}
                </a>
                {{ 'information.facts.intro' |trans |raw }}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col"></div>
            <div class="col-{{ breakpoint }}-{{ cols }}">
                {{ 'information.text_block.facts.0' |trans |raw }}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="divider-wrapper d-none d-{{ breakpoint }}-block">
                <img class="divider-left" src="/images/stroke_scroll.svg" alt="">
            </div>
            <div class="mobile-divider-wrapper d-{{ breakpoint }}-none">
                <img class="mobile-divider-down" src="/images/arrow_down.svg" alt="">
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }} information-highlight">
            <div class="col">
                {{ 'information.text_block.facts.11' |trans |raw }}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col-{{ breakpoint }}-{{ cols }} mb-{{ m }} mt-{{ m }}">
                    {{ 'information.text_block.facts.3' |trans |raw }}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="divider-wrapper d-none d-{{ breakpoint }}-block">
                <img class="divider-left" src="/images/stroke_right.svg" alt="">
            </div>
            <div class="mobile-divider-wrapper d-{{ breakpoint }}-none">
                <img class="mobile-divider-down" src="/images/arrow_down.svg" alt="">
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col"></div>
            <div class="col-{{ breakpoint }}-{{ cols }}">
                {{ 'information.text_block.facts.4' |trans |raw }}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="divider-wrapper d-none d-{{ breakpoint }}-block">
                <img class="divider-right" src="/images/stroke_left.svg" alt="">
            </div>
            <div class="mobile-divider-wrapper d-{{ breakpoint }}-none">
                <img class="mobile-divider-down" src="/images/arrow_down.svg" alt="">
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col-{{ breakpoint }}-{{ cols }}">
                {{ 'information.text_block.facts.7' |trans |raw }}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="divider-wrapper d-none d-{{ breakpoint }}-block">
                <img class="divider-left" src="/images/stroke_right.svg" alt="">
            </div>
            <div class="mobile-divider-wrapper d-{{ breakpoint }}-none">
                <img class="mobile-divider-down" src="/images/arrow_down.svg" alt="">
            </div>
        </div>
        <div class="row mb-10">
            <div class="col"></div>
            <div class="col-{{ breakpoint }}-{{ cols }}">
                {{ 'information.text_block.facts.8' |trans |raw }}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col-{{ breakpoint }}-{{ cols }}">
                {{ 'information.text_block.facts.9' |trans |raw }}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col-{{ breakpoint }}-{{ cols }}">
                {{ 'information.text_block.facts.10' |trans |raw }}
            </div>
        </div>
    </div>
{% endblock %}
