{% extends 'base.html.twig' %}

{% block body %}
    {% set m = 3 %}
    {% set breakpoint = 'sm' %}
    {% set cols = '9' %}
    <div class="container subpage">
        <div class="row mb-{{ m }}">
            <div class="col">
                <a href="{{ url('info') }}"  title="{% trans %}information.link.title.back_to_index{% endtrans %}" class="is-green">
                    <div class="arrow-wrapper"><div class="arrow-left"></div></div>
                    {% trans %}information.link.label.back_to_index{% endtrans %}
                </a>
                <div>
                    {% trans %}information.howto.intro{% endtrans %}
                </div>
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col"></div>
            <div class="col-{{ breakpoint }}-{{ cols }} text-{{ breakpoint }}-righty information-highlight">
                {{ 'information.text_block.howto.0'|trans |raw }}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="divider-wrapper d-none d-{{ breakpoint }}-block">
                <img class="divider-right" src="/images/stroke_scroll.svg" alt="">
            </div>
            <div class="mobile-divider-wrapper d-{{ breakpoint }}-none">
                <img class="mobile-divider-down" src="/images/arrow_down.svg" alt="">
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col-{{ breakpoint }}-{{ cols }} information-highlight">
                {{ 'information.text_block.howto.1'|trans |raw }}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="divider-wrapper d-none d-{{ breakpoint }}-block">
                <img class="divider-left" src="/images/stroke_right.svg" alt="">
            </div>
            <div class="mobile-divider-wrapper d-{{ breakpoint }}-none">
                <img class="mobile-divider-down" src="/images/arrow_down.svg" alt="">
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col"></div>
            <div class="col-{{ breakpoint }}-{{ cols }} text-{{ breakpoint }}-righty information-highlight">
                {{ 'information.text_block.howto.3'|trans |raw }}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="divider-wrapper d-none d-{{ breakpoint }}-block">
                <img class="divider-right" src="/images/stroke_left.svg" alt="">
            </div>
            <div class="mobile-divider-wrapper d-{{ breakpoint }}-none">
                <img class="mobile-divider-down" src="/images/arrow_down.svg" alt="">
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col-{{ breakpoint }}-{{ cols }}">
                {{ 'information.text_block.howto.4'|trans |raw }}
            </div>
        </div>
        <!--
        Du schließt mit einem Freund / Familienmitglied einen Pakt!
        -->
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col"></div>
            <div class="col-{{ breakpoint }}-{{ cols }} text-{{ breakpoint }}-righty information-highlight">
                {% trans %}information.text_block.howto.5{% endtrans %}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col"></div>
            <div class="col-{{ breakpoint }}-{{ cols }} text-{{ breakpoint }}-righty">
                {% trans %}information.text_block.howto.14{% endtrans %}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col"></div>
            <div class="col-{{ breakpoint }}-{{ cols }} text-{{ breakpoint }}-righty font-weight-bold information-highlight">
                {{ 'information.text_block.howto.6'|trans |raw }}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="divider-wrapper d-none d-{{ breakpoint }}-block">
                <img class="divider-right" src="/images/stroke_left.svg" alt="">
            </div>
            <div class="mobile-divider-wrapper d-{{ breakpoint }}-none">
                <img class="mobile-divider-down" src="/images/arrow_down.svg" alt="">
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col-{{ breakpoint }}-{{ cols }} information-highlight">
                {{ 'information.text_block.howto.15'|trans |raw }}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="divider-wrapper d-none d-{{ breakpoint }}-block">
                <img class="divider-left" src="/images/stroke_right.svg" alt="">
            </div>
            <div class="mobile-divider-wrapper d-{{ breakpoint }}-none">
                <img class="mobile-divider-down" src="/images/arrow_down.svg" alt="">
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col"></div>
            <div class="col-{{ breakpoint }}-{{ cols }} text-{{ breakpoint }}-righty information-highlight">
                {{ 'information.text_block.howto.16'|trans |raw }}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="divider-wrapper d-none d-{{ breakpoint }}-block">
                <img class="divider-right" src="/images/stroke_left.svg" alt="">
            </div>
            <div class="mobile-divider-wrapper d-{{ breakpoint }}-none">
                <img class="mobile-divider-down" src="/images/arrow_down.svg" alt="">
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col-{{ breakpoint }}-{{ cols }}">
                {{ 'information.text_block.howto.7'|trans |raw }}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="divider-wrapper d-none d-{{ breakpoint }}-block">
                <img class="divider-left" src="/images/stroke_right.svg" alt="">
            </div>
            <div class="mobile-divider-wrapper d-{{ breakpoint }}-none">
                <img class="mobile-divider-down" src="/images/arrow_down.svg" alt="">
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col"></div>
            <div class="col-{{ breakpoint }}-{{ cols }} has-text-right-desktop has-text-centered-mobile-only">
                {{ 'information.text_block.howto.8'|trans |raw }}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="divider-wrapper d-none d-{{ breakpoint }}-block">
                <img class="divider-right" src="/images/stroke_left.svg" alt="">
            </div>
            <div class="mobile-divider-wrapper d-{{ breakpoint }}-none">
                <img class="mobile-divider-down" src="/images/arrow_down.svg" alt="">
            </div>
        </div>
        <!--
        Geben wir der Politik ein starkes Signal, dass viele Menschen in Deutschland
        sich einen Wandel zu einer nachhaltigen Lebensweise wünschen und auch
        hinter den notwendigen Maßnahmen stehen!
        -->
        <div class="mw-900 mx-auto mb-10">
            <h2 class="information-highlight has-text-right-desktop has-text-centered-mobile mb-5">{{ 'information.text_block.howto.9'|trans |raw }}</h2>
            {{ 'information.text_block.howto.10'|trans |raw }}
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="divider-wrapper d-none d-{{ breakpoint }}-block">
                <img class="divider-left" src="/images/stroke_right.svg" alt="">
            </div>
            <div class="mobile-divider-wrapper d-{{ breakpoint }}-none">
                <img class="mobile-divider-down" src="/images/arrow_down.svg" alt="">
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="col"></div>
            <div class="col-{{ breakpoint }}-{{ cols }} font-weight-bold text-right">
                {{ 'information.block_text.howto.11'|trans |raw }}
            </div>
        </div>
        <div class="row mb-{{ m }} mt-{{ m }}">
            <div class="divider-wrapper d-none d-{{ breakpoint }}-block">
                <img class="divider-right" src="/images/stroke_left.svg" alt="">
            </div>
            <div class="mobile-divider-wrapper d-{{ breakpoint }}-none">
                <img class="mobile-divider-down" src="/images/arrow_down.svg" alt="">
            </div>
        </div>
        <div class="row mt-{{ m }}">
            <div class="col-{{ breakpoint }}-{{ cols }} font-weight-bold information-highlight">
                {{ 'information.block_text.howto.12'|trans |raw }}
            </div>
        </div>
    </div>
{% endblock %}
