{% extends 'base.html.twig' %}

{% block body %}
    {% set card_class = 'mt-4' %}
    <div class="container info-index">
        {% trans %}information.index.intro{% endtrans %}
        <div class="row d-flex align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card border-dark {{ card_class }} border-4 info-howto">
                    <a href="{{ url('info_howto') }}">
                        <div class="card-body">
                            <h2 class="font-weight-bold text-center">{% trans %}information.index.title.howto{% endtrans %}</h2>
                            {% trans %}information.index.text.howto{% endtrans %}
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card border-dark {{ card_class }} border-4 info-communication">
                    <a href="{{ url('info_communication') }}">
                        <div class="card-body">
                            <h2 class="font-weight-bold text-center">{% trans %}information.index.title.communication{% endtrans %}</h2>
                            {% trans %}information.index.text.communication{% endtrans %}
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card border-dark {{ card_class }} border-4 info-facts">
                    <a href="{{ url('info_facts') }}">
                        <div class="card-body">
                            <h2 class="font-weight-bold text-center">{% trans %}information.index.title.facts{% endtrans %}</h2>
                            {% trans %}information.index.text.facts{% endtrans %}
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
