@import "variables";
@import "~bootstrap/scss/bootstrap";
@import  '~cookieconsent/build/cookieconsent.min.css';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "generic/typography";
@import "generic/cookie_consent";
@import "generic/general";
@import "generic/header";
@import "generic/footer";
@import "pages/contract";
@import "pages/facts";
@import "pages/home";
@import "pages/information";

ul.list-arrow {
  margin-left: 0;
  padding-left: 0;

  li {
    list-style: none;
    margin-bottom: 1rem;

  }

}

span.arrow-left {
  width: 32px;
  height: 17px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  &:before {
    font-size: 110%;
    margin-right: 5px;
    background: transparent url('../img/arrow-left.svg') 0 0 no-repeat padding-box;
    opacity: 1;
  }
}

div.arrow-wrapper {
  box-sizing: border-box;
  width: 1.5rem;
  display: inline-block;
  margin: auto auto;
  div.arrow-right {
    width: 100%;
    background-image: url('../img/arrow-right.svg');
    background-size: cover;
    height: 0;
    padding: 0 0 34%;
  }
  div.arrow-left {
    width: 100%;
    background-image: url('../img/arrow-left.svg');
    background-size: cover;
    height: 0;
    padding: 0 0 34%;
  }
}
.btn-badge {
  position: relative;
  width: 100%;
  height: 8.6875rem;

  &::after {
    position: relative;
    content: url(../img/button-md-badge.svg);
    margin: 1.6875rem auto;
    padding-bottom: 50%;
  }
}

@include media-breakpoint-down(sm) {
  .btn-badge {
    position: relative;
    width: 100%;
    height: 5.3125rem;

    &::after {
      position: relative;
      content: url(../img/button-sm-badge.svg);
      margin: .6875rem auto;
    }
  }
  .navbar-brand {
    img {
      max-width: 200px;
    }
  }

}
