{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ 'counter.intro.title' |trans({'%counter%': counter}) |raw }}</h1>
                <p>
                    {{ 'counter.intro.text' |trans |raw }}
                </p>
            </div>
        </div>
        {% if counter > 0 %}
            <div class="row mt-3">
                <div class="col">
                    <h3>{{ 'counter.parts.title'|trans }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% for type, parts in types %}
                        <div class="card mt-3" style="border: 0 !important;">
                            <div class="card-title text-bold"><strong>{{ ('counter.part.title.'~type)|trans }}</strong></div>
                            <div class="card-body">
                                <p>
                                    {% for part in parts %}
                                        <strong>{{ 'counter.participants'| trans({'%counter%': part.counter})| raw }}</strong>&nbsp;{{ part.title }}<br/>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
