{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title h4 mb-0">Impressum</h1>
            </div>
            <ul class="list-group list-group-flush">
                 <li class="list-group-item">
                    <h3>Wer wir sind: Das TEAM hinter dem FreundeKlimaPakt</h3><br>
                    Wir sind eine Gruppe ehrenamtlich engagierter Menschen, die mit dem <b>FreundeKlimaPakt</b> das Thema Klimakrise mehr in die Diskussion im Freundes- und Familienkreis bringen möchte. Das Projekt setzen wir vollständig neben unserem normalen Familien- und Berufsalltag um und hoffen daher auf Verständnis, wenn sich mal der ein oder andere kleinere Fehler eingeschlichen haben sollte (Verbesserungsvorschläge und Ideen gerne per Mail). Wir sind vollständig unabhängig und überparteilich. Name und Emailadresse von den Teilnehmern werden ausschließlich dafür verwendet, die Email mit einem neuen Pakt für das nächste Jahr zu versenden und Doppeleinträge in der Datenbank zu vermeiden.<br>
                    <br>
                    Wir freuen uns über eine Kontaktierung, wenn uns jemand bei dem Projekt weiter unterstützen möchte.
                    <br>
                    <br>
                    Euer TEAM vom <b>FreundeKlimaPakt</b>
                </li>
                <li class="list-group-item">
                    Maximilian Berghoff [DevelopersForFuture]<br>
                    91617 Oberdachstetten<br>
                    Deutschland<br>
                    Mail info@developersforfuture.org<br>
                </li>
                <li class="list-group-item">
                    Dr. Ingo Kerkamm [Scientists4Future / Parents4Future]<br>
                    70565 Stuttgart<br>
                    Deutschland<br>
                    Mail info@developersforfuture.org<br>
                </li>
                <li class="list-group-item">
                    <h3>Angaben gemäß § 5 TMG <br/>
                    Maximilian Berghoff | Dr. Ingo Kerkamm</h3>
                    <h3>Haftungsausschluss:</h3>
                    <p>
                        Haftung für Inhalte<br>
                        Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit,
                        Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.
                        Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den
                        allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht
                        verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen
                        zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder
                        Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt.
                        Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten
                        Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese
                        Inhalte umgehend entfernen.
                    </p>
                    <h3>Haftung für Links</h3>
                    <p>
                        Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben.
                        Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
                        Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten
                        wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren
                        zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten
                        Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden
                        von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
                    </p>
                    <h3>Urheberrecht</h3>
                    <p>
                        Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem
                        deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung
                        außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors
                        bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen
                        Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden
                        die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet.
                        Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
                        entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte
                        umgehend entfernen.
                    </p>
                    <h3>Datenschutz</h3>
                    <p>
                        Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Bei der Teilnahme am FreundeKlimaPakt 
                        und der damit verbundenen Eintragung der Klimaschutzmaßnahmen wird der Name und die Emailadresse gespeichert, um über zukünftige Updates des Inhalts der Homepage bzw. des FreundeKlimaPakts Informationen versenden zu können. Es besteht keine
                        Rückverfolgbarkeit der Maßnahmen auf einzelne Personen. Es werden keine Daten an Dritte weitergegeben. Weitere Informationen
                        sind in der separaten Datenschutzerklärung ersichtlich.
                    </p>
                    <p>
                        Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
                        Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist
                        nicht möglich.
                    </p>
                    <p>
                        Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur
                        Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit
                        ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte
                        im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
                    </p>
                    <p>
                        Quelle Erstellt mit dem Impressum-Generator der Kanzlei Siebert
                        Quellverweis eRecht24 Disclaimer, Google Analytics Datenschutzerklärung
                        <div class="card-footer">
                            <em>Quelle</em>
                            <a href="http://www.muster-vorlagen.net/datenschutzerklaerungs-generator.html" target="_blank">
                                muster-vorlagen.net
                            </a>
                        </div>
                    </p>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
