<main class="container-fluid">
    <div class="card">
        <div class="card-body">
            <figure>
                <img src="/images/logo_gross.jpeg" title="Hier entstet eine neue Seite"/>
            </figure>
        </div>
    </div>
</main>
