<!DOCTYPE html>
<html lang="de">
<head>
    <script type="application/ld+json">{
            "@context": "http://schema.org",
            "@type": "Person",
            "name": "{% trans %}seo.title{% endtrans %}",
            "image": "https://freundeklimapakt.de/img/socialcard.jpeg",
            "url": "https://freundeklimapakt.de",
            "sameAs": [
                "https://twitter.com/DevelopersForFuture",
                "https://freundeklimapakt.de"
            ]}</script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Klimaschutz, Klima, Pakt," />
    <meta name="title" content="{% trans %}seo.title{% endtrans %}" />
    <meta name="description" content="{% trans %}seo.description{% endtrans %}" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="https://freundeklimapakt.de/favicons/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="referrer" content="origin" />
    <meta name="twitter:site" content="{% trans %}seo.title{% endtrans %}" />
    <meta name="twitter:creator" content="@DevelopersForFuture" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{% trans %}seo.title{% endtrans %}" />
    <meta name="twitter:description" content="{% trans %}seo.description{% endtrans %}" />
    <meta name="twitter:url" content="https://freundeklimapakt.de" />
    <meta name="twitter:image" content="https://freundeklimapakt.de/img/twitter_card.jpeg" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:locale" content="de-DE" />
    <meta property="og:site_name" content="{% trans %}seo.title{% endtrans %}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{% trans %}seo.title{% endtrans %}" />
    <meta property="og:description" content="{% trans %}seo.description{% endtrans %}" />
    <meta property="og:url" content="https://freundeklimapakt.de" />
    <meta property="og:image" content="https://freundeklimapakt.de/img/facebook_card.jpg" />
    <meta property="og:image:alt" content="{% trans %}seo.description{% endtrans %}" />
    <meta property="article:author" content="https://freundeklimapakt.de" />
    <meta property="article:publisher" content="https://freundeklimapakt.de" />
    <title>{% trans %}seo.title{% endtrans %}</title>

    <meta name="og:url" charset="UTF-8" content="https://freundeklimapakt.de"/>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- for testpage -->
    <meta name="robots" content="noindex, nofollow">

    {% block styles %}
        <!-- Clavo Font (c) Adobe -->
        <link rel="stylesheet" href="https://use.typekit.net/tpe7etv.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/build/base.css?v={{ version }}">
    {% endblock %}

    <!-- Matomo -->
    <script type="text/javascript">
		var _paq = _paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="//analytics.developersforfuture.org/";
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', '2']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		})();
    </script>
    <!-- End Matomo Code -->
</head>
<body id="body">
<header>
    {% include 'includes/navigation.html.twig' %}
</header>
<main>
    {% block body %}{% endblock %}
</main>
<footer>
    {% include 'includes/footer.html.twig' %}
</footer>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/build/app.js?v={{ version }}"></script>
    <script src="/build/cookies.js?v={{ version }}"></script>

    <script type="application/javascript">
		(function() {
			var cookie = new freundeCookie();
			cookie.initFreundeCookie({
				 "palette": {
                    "popup": {
                        "background": "#ffffff",
                        "text": "#000000"
                    },
                    "button": {
                        "background": "#1da64a",
                        "text": "#ffffff"
                    }
                },
                content: {
					message: "{% trans %}cookie.hint{% endtrans %}",
					dismiss: "{% trans %}cookie.dismiss{% endtrans %}",
					allow: "{% trans %}cookie.allow{% endtrans %}",
					link: "{% trans %}cookie.learn_more{% endtrans %}",
					href: "{{ path('data_policy') }}",
					deny: "{% trans %}cookie.deny{% endtrans %}",
					policy: "{% trans %}cookie.data_policy{% endtrans %}",
					cookiePolicy: "{% trans %}cookie.cookie_policy{% endtrans %}",
				}
			});
		})();
    </script>
{% endblock %}
</body>
</html>
