{% extends "base_email.html.twig" %}

{% block body %}
{%  set verrificatioURL = url('contract_verification', {'token': token})  %}
{{ "contract.verification_mail" | trans({'%url%': verrificatioURL }) | raw }}
{% endblock %}
