{% extends 'base.html.twig' %}

{% block body %}
    <div class="contract">
        {% set break_point = 'md' %}
        <div class="container" xmlns="http://www.w3.org/1999/html">
            <div class="row">
                <div class="col">
                    {% trans %}contract.form.intro{% endtrans %}
                </div>
            </div>

            {{ form_start(form) }}
            {% if error is defined %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}
            <div class="form-group row">
                {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-6 h3'}}) }}
                <div class="col-sm-6">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control border-4','aria-describedby':'form_nameError'}}) }}
                    <small id="form_nameError" class="form-text text-danger">{{ form_errors(form.name) }}</small>
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.email, null, {'label_attr': {'class': 'col-sm-6 h3'}}) }}
                <div class="col-sm-6">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control border-4','aria-describedby':'form_nameEmail'}}) }}
                    <small id="form_nameEmail" class="form-text text-danger">{{ form_errors(form.email) }}</small>
                </div>
            </div>
            {% set i = 0 %}
            {% set j = 0 %}
            <h2 class="font-weight-bold h3 mt-5 mb-3">Zu folgenden Maßnahmen möchtest du dich verpflichten:</h2>

            <div class="card border-0">
                {% for type,parts in contractPartsByType %}
                    {% set formName = "selectedContractParts-" ~ type %}
                    <div class="card-body border-4 mb-3">
                        <div role="button" id="heading{{ i }}" class="pointer" data-toggle="collapse" data-target="#collapse{{ i }}"
                             aria-expanded="{% if i==0 %}true{% else %}false{% endif %}" aria-controls="collapse{{ i }}">
                            <h3 class="font-weight-bold">{{ form_label(attribute(form, formName)) }}</h3>
                        </div>
                        <div id="collapse{{ i }}" aria-labelledby="heading{{ i }}" data-parent="#accordionActions">
                            {% for key,part in parts %}
                                <div class="custom-control custom-checkbox">
                                    {{ form_widget(
                                        attribute(form, formName)[key],
                                        {'attr': {'class': 'custom-control-input', 'aria-describedby': 'help'~attribute(form, formName)[key].vars.id }, 'label': false}
                                    ) }}
                                    <label class="custom-control-label" for="{{ attribute(form, formName)[key].vars.id }}">
                                        {{ part.title }}
                                        <small class="form-text mt-2 mb-4" id="help{{ attribute(form, formName)[key].vars.id }}">
                                            {{ part.description }}
                                        </small>
                                    </label>
                                </div>
                                {% set j = j+1 %}
                                <div class="text-danger">{{ form_errors(attribute(form, formName)) }}</div>
                            {% endfor %}
                        </div>
                        {% set i = i+1 %}
                    </div>
                {% endfor %}
            </div>
            <div class="privacy-policy-wrapper">
                <div class="custom-control form-control-lg custom-checkbox" style="margin-bottom: 50px">
                    {{ form_widget(
                        form.isDataPolicyAccepted,
                        {'attr': {'class': 'custom-control-input border-4' }, 'label': false}
                    ) }}
                    <label class="custom-control-label" for="{{ form.isDataPolicyAccepted.vars.id }}">
                        Mit dem Absenden des Formulars nimmst du die <a href="{{ url('data_policy') }}" target="_blank" class="is-green">Datenschutzbestimmungen</a> an.
                    </label>
                </div>
            </div>
            <div class="row mt-6">
                <div class="col-{{ break_point }}">
                    {{ form_widget(form.submit, {
                        'attr': {
                            'class': 'btn btn-'~break_point~' btn-badge border-0'
                        },
                        'label': false
                    }) }}
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
