{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="columns">
        <div class="column">
            <h2>{% trans %}contract.successful_request{% endtrans %}</h2>
        </div>
    </div>
</div>
{% endblock %}
