{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="columns">
        <div class="column">
            <h1>{% trans %}contract.successful_verification{% endtrans %}</h1>
        </div>
    </div>
</div>
{% endblock %}
