{% extends 'base.html.twig' %}

{% block body %}
    <div class="home">
        <link class="d-none" rel="stylesheet"
              href="data:text/css,%40media+%28min-width%3A+768px%29+%7Bbody%2Chtml%7Bheight%3A+100%25%3B%7Dhtml%7Bposition%3Arelative%3Bmin-height%3A100%25%3B%7D%7D">
        {% set break_point = 'md' %}
        <div class="container">
            <div class="row">
                <div class="col-{{ break_point }}-3 text-center my-auto d-none d-{{ break_point }}-block">
                    <a href="{{ url('contract') }}" class="font-weight-bold main-headline" title="{% trans %}menu.title.sign_now{% endtrans %}">
                        {{ "menu.label.sign_now"| trans() | raw }}
                    </a>
                    <br/>
                    <a data-toggle="modal" data-target="#downloadModal" class="subtext" title="{% trans %}home.title.download{% endtrans %}">
                        {{ "home.label.download"| trans() | raw }}
                    </a>
                </div>
                <div class="col-{{ break_point }}-6 text-center my-auto globe-container">
                    <img src="{{ asset('images/globe.png') }}" alt="planet" class="img-fluid">
                    <div class="d-{{ break_point }}-none counter container">
                        <div class="h5 py-1 border border-dark border-w bg-white">
                            <a href="{{ url('counter') }}" title="{% trans %}home.title.counter_more{% endtrans %}" style="color: #000000">
                                {{ "home.text.counter_main" | trans({'%counter%': counter }) }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-{{ break_point }}-3 text-center my-auto d-none d-{{ break_point }}-block">
                    <a href="{{ url('info') }}" class="font-weight-bold main-headline" title="{% trans %}menu.title.more_info{% endtrans %}">
                        {{ "menu.label.more_info"| trans() | raw }}
                    </a>
                    <br/>
                    <a href="{{ url('info') }}" class="subtext" title="{% trans %}home.title.more_info_subtext{% endtrans %}">
                        {{ "home.label.more_info_subtext"| trans() | raw }}
                    </a>
                </div>
                <div class="col-{{ break_point }}-4 text-center my-auto d-none d-{{ break_point }}-block"></div>
                <div class="col-{{ break_point }}-4 text-center d-none d-{{ break_point }}-block counter-block justify-content-center">
                    <div class="font-weight-bold mt-5 mb-1">
                        <a href="{{ url('counter') }}" title="{% trans %}home.title.counter_more{% endtrans %}">
                            <div class="subtext">{{ "home.text.counter_main" | trans({'%counter%': counter }) }}</div>
                        </a>
                    </div>
                    <a href="{{ url('counter') }}" title="{% trans %}home.title.counter_more{% endtrans %}">{% trans %}home.label.counter_more{% endtrans %}</a>
                </div>
                <div class="col-{{ break_point }}-4 text-center my-auto d-none d-{{ break_point }}-block"></div>
            </div>
        </div>
        <div class="container h-100 d-block d-{{ break_point }}-none">
            <div class="row h-100">
                <div class="col-6 justify-content-center text-center">
                    <a href="{{ url('contract') }}" class="font-weight-bold main-headline" title="{% trans %}menu.title.sign_now{% endtrans %}">
                        {{ "menu.label.sign_now"| trans() | raw }}
                    </a>
                </div>
                <div class="col-6  justify-content-center text-center">
                    <a href="{{ url('info') }}" class="font-weight-bold main-headline" title="{% trans %}menu.title.more_info{% endtrans %}">
                        {{ "menu.label.more_info"| trans() | raw }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
