{% use "bootstrap_4_layout.html.twig" %}

{% block checkbox_widget %}
    <input type="checkbox" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock checkbox_widget %}

{% block radio_widget %}
    <input type="radio" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock radio_widget %}
