.home .container {
  max-width: calc(100vw - 100px);
}

.home .counter-block div.subtext {
  border-bottom: 4px solid #000;
}

.counter {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 5px;
  width: 100%
}
