@import "../variables";
@import "../generic/typography";

.home {
  .container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
  }
  .counter {
    position: relative;
    bottom: 8rem;
    left: 0;
  }
  .counter-block {
    div.subtext {
      border-bottom: 4px solid #000;
      font: $navigation-font;
    }
  }
}

@include media-breakpoint-down(sm) {
  .home {
    .counter-block {
      div.subtext {
        border-bottom: 3px solid #000;
      }
    }
  }
}

