
.container.info-index {
  min-width: 30%;
  .info-howto {
    min-width: 30%;
  }
  .info-communication {
    min-width: 30%;
  }
  .info-facts {
    min-width: 30%;
  }
}

// SUBPAGES
.container.subpage {

  .divider-wrapper {
    position: relative;
    height: 200px;
    width: 100%;
    .divider-left {
      position: absolute;
      height: 200px;
      right: 51%;
    }
    .divider-right {
      position: absolute;
      height: 200px;
      left: 51%;
    }
  }
  .mobile-divider-wrapper {
    height: 60px;
    width: 100%;
    .mobile-divider-down {
      margin: auto;
      display: block;
    }
  }
}
